.img-title{
    width: 305px;
    position: relative;
    /* margin: left; */
}

.img-logo{
    
    width: 85px;
    margin: auto;
    /* margin: right;  */ 
}

/*section {
    background: green;
    display: grid;
    grid-template: auto / repeat(3,30%);
}*/

article {
    /*background-color: rgb(179, 179, 179);*/
    /*border: 1px solid red;*/
    /*margin: 1em;*/
    /*padding: 0.5em;*/
    text-align: center;
}

h1 {
    font-color: black;
    font-family: 'Lobster', cursive;
}

h2 {
    font-color: red;
    font-family: 'Lobster', cursive;
}
